body{
	margin: 0px;
	font-family: $font_text1;
	header{
		width: 100%;
		background: $cafeOscuro;
		#btn-menu{
			display:none;
	
		}

	}
}

label {
	display:block;
	width:50px;
	height:50px;
	padding: 10px;
	border-right: 2px solid #fff;
	&:hover{
		cursor:pointer;
		opacity: 10px;
		color: #fff;
	}
			
}	

.menu ul{
	margin: 0;
	list-style:none;
	padding:0;
	display:flex;
	
	
	li	a{
		display:block;
		float: left;
		padding:15px 20px 0 0;

	}

}


