.carousel-inner{
	position: relative;
	margin-top:40px;
}

//imagen section 1
.section1{
	position:absolute;
	background:$colorpielClaro;
	height: 400px;
	width:100%;
}


.circle{
	position:absolute;
	margin-top: -40px;
	margin-left: 70px;
	//margin-left: 40px;
	border: 5px solid $colorPiel;
}

.read{
	font-family: $font_text1;
	background-color: $color-pielOpaco;
	width: 32%;
	font-size: 12px;
	padding: 0px;
	margin:10px;
	margin-left: 93px;
	margin-top: 45px;

}




