@mixin imagenRedonda{
	position: absolute;
	width: 100px;
	height: 100px;
	background: transparent;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle{
	@include imagenRedonda;

}


@mixin titulo_uno{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top: 100px;
	clear: both;
}

.titulo1{
	@include titulo_uno;

}


@mixin parrafo_uno{
	font-size:12px;
	margin-top: 10px;
	text-align: $textoJustificado;
}

.parrafo1{
	@include parrafo_uno;

}

@mixin boxes{
	margin:0;
	padding: 0;
	border: 0;
}

.section1{
	@include boxes;
}

