$font_text1: sans-serif;
$cafeOscuro: #3B0B0B;
$blanco: #fff;
$colorPiel: #FAAC58;
$color-pielOpaco: #DCCC9A;
$nada:none;
$colorpielClaro:#F3E2A9;
$textoJustificado: justify;
$colorPlomo: #DFDFDF;
$colorcafeClaro:#6A5E5E;